<header class="header">

    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Navigation öffnen/schließen">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav w-100  nav-justified">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <i class="fad fa-user-cog"></i> Rüsten <span class="sr-only">(aktiv)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fad fa-cogs"></i> Produktion
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fad fa-hourglass-half"></i> Warten
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fad fa-tools"></i> Reparatur
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fad fa-oil-can"></i> Wartung
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fad fa-snooze"></i> Anlagenruhe
            </a>
          </li>
        </ul>
      </div>
    </nav>
</header>
